body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Partial transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

a {
    color: #3498db;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
.conta {
    background-color: rgba(255, 255, 255, 0.692);
    height: fit-content;
    width: max-content;
    padding: 20px; /* Adjust as needed */
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
}

.conta .login-form {
    background: rgba(0, 0, 0, 0.4); /* Background color for the form */
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Set the width of the form */
}
